body{
	margin: 0;
	background: #282d34;
	color: white;
	font-family: sans-serif;;
	display: block;
	align-items: center;
	height: 100vh;
}
.slider{
    width: 100%;
    margin:auto;
}
.lower-section{
    display: inline-flex;
}
.slider input{display: none;}
.testimonials{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 500px;
	perspective: 600px;
    border-radius:8px;
    margin-top: 0;
    margin-bottom: 0;
}
.testimonials .item{
    margin-top: 5%;
	width: 33%;
    height:67%;
	border-radius: 30px;
	background-color: #21262d;
	position: absolute;
	top: 0;
	text-align: center;
	transition: transform 0.52s;
	box-shadow: 0 0 20px rgba(0,0,0,20);
	user-select: none;
	cursor: pointer;
    overflow:hidden;
}
.testimonials .item img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 30px;
}
.dots{display: flex; justify-content: center;align-items: center;}
.dots label{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 10px;
	transition-duration: 0.52s;
}
.nav-item{
    cursor: pointer;
    text-decoration: none;

}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"]{
	transform: scale(2);
	background-color: #fff;
	box-shadow: 0px 0px 15px #00000024;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
	transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"]{
	transform: translate3d(110%, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"]{
	transform: translate3d(55%, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"]{
	transform: translate3d(-55%, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"]{
	transform: translate3d(-110%, 0, -180px) rotateY(25deg);
	
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"]{
	
	z-index: 4;
}
/* yaha se mera code hai!!!! */

body{
    background: -webkit-gradient(linear, left top, left bottom, from(#0E8388), to(#2C3333)) fixed;
}
.card-title{
    color:rgb(143, 179, 174);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.venues .venue-body .movies .card .card-img-top {
    width: 100%;
    height: 100%; 
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    object-fit: cover;
}
.venues .venue-body .movies .card .card-img{
    height:300px;
    overflow:hidden;
}
.venues .venue-body .movies{
    display:block;
}
.venues .venue-body .movies .card{
    width: 25%;
    border-radius:25px;
    margin-left:6%;
    justify-content: left;
    border-color:rgb(14, 44, 42) ;
    margin-top: 3%;
    margin-bottom:4%;
    border-top-right-radius:22px;
    border-top-left-radius:22px;
    display:inline-block;
}
.venues .venue-body .movies .card-body{
    padding:auto;
    background-color: rgb(36, 75, 72);
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    display:block;
}
.card-body h5{
    color:lightgray;
}
.card-body p{
    color:lightgray;
}
.break{
    
    flex-basis:100%;
    height:0;
}
@media screen and (max-width:1400px) {
    #revel{
        width: 100%;
        padding-top: 50px;
     
      
    }
}
.venue-body
{

    display: inline;
    float: left;
    margin-left:2%;
    margin-top:3%;
    margin-bottom:1%;
    width:96%;
    background-color: rgb(14, 44, 42);
    border-radius:20px;
}
.button{
    opacity:1;
    background-color: transparent;
    border-color: transparent;
}
.button:hover{
    opacity:0.75;
}
.boton{
    opacity:1;
    background-color: #1a3f36;
    border-color: transparent;
}
.boton:hover{
    opacity:0.75;
}
.search-button{
    background-color: #2e604c;
    border-color:transparent;
    color:rgb(0, 255, 187);
    width:100%;
}
.search-button:hover{
    color:white
}

.no-underline {
    text-decoration: none;
}